.button {
    padding: 1.2rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #B2F2BB;
    border: none;
    border-radius: 1rem;
    margin-top:0.9rem;
    text-decoration: none;
    cursor:crosshair;
    box-shadow: #8DEF9A 0px 0px 0.2px 1px;
    font-family:inherit;
  }